# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env
venv/

# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore uploads
uploads/Yoga_Detection1.h5